/.quarto/
.Rproj.user
.Rhistory
.RData
.Ruserdata
.bash_history
.cache/
.httr-oauth
.config/
.local/
.ipython/
.wget-hsts
.sudo_as_admin_successful

# ignore everything in posts except
# Rmd, qmd files
/**/git-lsf/**
**/*_files/
_freeze/*
_site/*

/.luarc.json
